@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
*{margin:0;padding:0;outline:0}
body{font-family: 'Open Sans', sans-serif;font-size:14px;line-height:18px;color:#000;
background:url(images/paisley.png) repeat fixed 0 0 #fff; position:relative}

.templete{width:960px;margin:0 auto;}
.contemplete {
  margin: 0 auto;
  width: 928px;
}
.clear{overflow:hidden;}
input[type="text"], input[type="email"]{
  border: 1px solid #cfc5b6;
  border-radius: 6px;
  margin-bottom: 5px;
  padding: 5px;
  width: 300px;
}
input[type="submit"] {
  background: #c78d23 none repeat scroll 0 0;
  border: 1px solid #e5aa40;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  padding: 1px 10px;
}
input[type="submit"]:hover{background:#FEF4E5;color:#000}
textarea {
  border: 1px solid #cfc5b6;
  border-radius: 6px;
  height: 110px;
  margin-bottom: 10px;
  padding: 5px;
  width: 300px;
}
.headersection {
  background: #ca9231 none repeat scroll 0 0;
  color: #fff;
}
.logo{width:500px;float:left;}
.logo img {
  float: left;
  margin-right: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-top: 10px;
  width: 95px;
}
.logo h2 {
  color: #fff;
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 15px;
  text-shadow: 3px 3px 0 #666;
}
.logo p{}
.social {
  float: right;
  margin-right: 20px;
  margin-top: 28px;
  text-align: right;
  width: 215px;
}
.social a {
  background: #a56e0a none repeat scroll 0 0;
  color: #fff;
  font-size: 30px;
  padding: 2px 10px;
  border-radius:2px;
}
.social a:hover{background:#fff;color:#333;}
.social img {
  width: 48px;
}

.navsection {
  background: #e5aa40 none repeat scroll 0 0;
  min-height: 38px;
}
.navsection ul{margin=0;padding=0;list-style=none; }
.navsection ul li {
  border-left: 1px solid #fcc258;
  border-right: 1px solid #c3881e;
  display: block;
  float: left;
  position:relative;
}
.navsection ul li:first-child{border-left: 0px solid #fcc258;}
.navsection ul li:last-child{border-right: 0px solid #c3881e;}

.navsection ul li a {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  transition:.5s;
  -webkit-transition:.5s;
  -moz-transition:.5s;
}
.navsection ul li a:hover,#active{background:#FEF4E5;color:#333;transition:.35s;}

.navsection ul li ul {
  left: -999999px;
  position: absolute;
  z-index: 999;
}
.navsection ul li:hover ul{left:0px;}
.navsection ul li ul li{background:#E5AA40;width:200px;border-bottom:1px solid #CA9231;float:none;
border-left: 0px solid #fcc258;border-right: 0px solid #c3881e;}
.navsection ul li ul li:last-child{border-bottom:0px solid #CA9231;}
.navsection ul li ul li a{}


.slidersection {}
.contentsection {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #c78d23;
  padding: 15px;
}
.maincontent {
  background: #fdf3e2 none repeat scroll 0 0;
  border: 1px solid #ded4c5;
  float: left;
  margin: 0 15px 15px 0;
  padding: 8px 15px;
  width: 600px;
}
.about{}

.about img {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #b7801c;
  float: left;
  height: 227px;
  margin-right: 10px;
  padding: 5px;
  width: 207px;
}
.about p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  text-align: justify;
}
.relatedpost{}
.relatedpost h2 {
  background: #e5aa40 none repeat scroll 0 0;
  border-bottom: 2px solid #a36901 !important;
  color: #fff !important;
}
.relatedpost img {
  height: 100px;
  margin-bottom: 10px;
  width: 187px;
}
.relatedpost img:hover{opacity:0.4}
.samepost{}
.samepost h2,.about h2 {
  border-bottom: 2px solid #bcb7a7;
  color: #774302;
  font-size: 25px;
  margin-bottom: 10px;
  padding: 10px;
}
.samepost img {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #a6a6a6;
  float: left;
  margin-right: 8px;
  padding: 3px;
  width: 130px;
}
.samepost p {
  font-size: 15px;
  line-height: 25px;
  text-align: justify;
}
.readmore {
  float: right;
  margin-top: 4px;
}
.readmore a {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #10161c;
  border-radius: 5px;
  color: #333;
  display: block;
  font-size: 16px;
  padding: 0 6px;
  text-decoration: none;
}
.readmore a:hover{color:#FF00FF}
.sidebar {
  background: #fdf3e2 none repeat scroll 0 0;
  border: 1px solid #ded4c5;
  float: right;
  margin-bottom: 15px;
  margin-top: 0;
  padding: 10px;
  width: 253px;
}
.samesidebar {
  margin-bottom: 10px;
}
.samesidebar h2 {
  background: #e5aa40 none repeat scroll 0 0;
  border-bottom: 2px solid #a36901;
  color: #ffffff;
  margin-bottom: 10px;
  padding: 3px;
}
.samesidebar ul{padding:0;margin=0;list-style:none;} 
.samesidebar ul li {
  border-bottom: 1px dashed #7e6900;
  font-size: 13px;
  padding: 5px 4px 5px 0;
}
.samesidebar ul li:last-child{border-bottom: 0px dashed #7e6900;}
.samesidebar ul li a {
  color: #764500;
  text-decoration: none;
}
.samesidebar ul li a:hover{color:#D92B51;} 
.samesidebar p {
  margin-bottom: 10px;
}
.popular{}
.popular h3 {
  border-bottom: 1px dashed #c78d23;
  font-size: 17px;
  font-weight: normal;
  margin-bottom: 10px;
  padding-bottom: 5px;
} 
.popular h3 a {color: #444;text-decoration: none;
}
.popular img {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #c78d23;
  border-radius: 12px;
  float: left;
  height: 50px;
  margin-right: 10px;
  margin-top: 8px;
  padding: 3px;
  width: 58px;
}
.popular p {
  font-size: 13px;
  text-align: justify;
}

.footersection {
  background: #c78d23 none repeat scroll 0 0;
  height: 76px;text-align:center;
}
.footermenu {
  margin-top:25px;
  margin-bottom: 5px;
}
.footermenu ul{padding:0;margin:0;list-style:none;text-align:center;}
.footermenu ul li{display:inline-block;}
.footermenu ul li a {
  color: #fff;
  font-size: 18px;
  margin-right: 5px;
}
.footersection p{}

.fixedicon {
  left: 0;
  position: fixed;
  top: 105px;
  width: 60px;
}
.fixedicon img {
  width: 55px;
}
.myicon {
  margin: 0 auto;
  width: 280px;
}
.myicon i {
  border: 1px solid #8c8271;
  border-radius: 5px;
  color: #ca9231;
  font-size: 180px;
  padding: 0 25px;
}

/*Example items*/
.items{
  height:250px;
  width:400px;
  margin:0 auto;
  position:relative;
  overflow:hidden;
}
.items img {
  height:250px;
  width:400px;
}
.shadow{
 background:rgba(0, 0, 0, .6);
 height: 100%;
 width: 100%;
 position:absolute;
 top:-100%;
 transition:.6s;
 -webkit-transition:.6s;
 -moz-transition:.6s;
}
.items:hover .shadow{top:0;}

